In [26]:

'''
Data:2017-07-13
Auther;JXNU Kerwin
Description:使用Pandas拼接多个CSV文件到一个文件（即合并）
'''
import pandas as pd
import os
Folder_Path = r'C:/Users/24562/Tools Project/data'          
SaveFile_Path =  r'C:/Users/24562/Tools Project'       
SaveFile_Name = r'all.csv'              
 

os.chdir(Folder_Path)

file_list = os.listdir()
 

df = pd.read_csv(Folder_Path +'\\'+ file_list[0])   
 

df.to_csv(SaveFile_Path+'\\'+ SaveFile_Name,encoding="utf_8_sig",index=False)
 

for i in range(1,len(file_list)):
    df = pd.read_csv(Folder_Path + '\\'+ file_list[i])
    df.to_csv(SaveFile_Path+'\\'+ SaveFile_Name,encoding="utf_8_sig",index=False, header=False, mode='a+')

In [32]:

import pandas as pd

import re
df=pd.read_csv('datafile.csv',encoding='UTF-8')
df

,Unnamed: 0,id,price,address,type,bed,bath,area
0,0,listing_1375919_featured,"$2,699,000",145 E 15th Street #16ST,Co-op,3 beds,2 baths,"1,700 ft??"
1,1,listing_1357080_featured,"$1,895,000",30 Beekman Place #7C,Co-op,4 beds,2.5 baths,"2,400 ft??"
2,2,listing_1378816,"$4,160,000",30 Riverside Boulevard #33C,Condo,2 beds,2.5 baths,"1,569 ft??"
3,3,listing_1378815,"$3,400,000",635 West 59th Street #29D,Condo,2 beds,2 baths,"1,438 ft??"
4,4,listing_1378814,"$1,925,000",30 Riverside Boulevard #22G,Condo,1 bed,1.5 baths,852 ft??
5,5,listing_1378813,"$3,650,000",30 Riverside Boulevard #26G,Condo,2 beds,2.5 baths,"1,533 ft??"
6,6,listing_1378809,"$590,000",320 East 83rd Street #3C,Co-op,1 bed,1 bath,NaN
7,7,listing_1378798,"$339,000",581 Academy Street #1C,Condo,1 bed,1 bath,500 ft??
8,8,listing_1378796,"$1,248,000",252 South Street #12K,Condo,1 bed,1 bath,695 ft??
9,9,listing_1378797,"$1,399,000",252 South Street #35F,Condo,1 bed,1 bath,722 ft??
10,10,listing_1378795,"$1,425,000",252 South Street #10B,Condo,1 bed,1 bath,696 ft??
11,11,listing_1378794,"$1,711,000",252 South Street #64L,Condo,1 bed,1 bath,709 ft??
12,12,listing_1378793,"$1,576,000",252 South Street #59H,Condo,1 bed,1 bath,679 ft??
13,13,listing_1353651_featured,"$7,350,000",275 West 10th Street #4/B,Condo,3 beds,3.5 baths,"2,891 ft??"
14,14,listing_1376693_featured,"$7,335,000",49 Chambers Street #9EF,Condo,4 beds,5 baths,NaN
15,15,listing_1378792,"$1,640,000",252 South Street #40N,Condo,1 bed,1 bath,723 ft??
16,16,listing_1378791,"$1,209,000",252 South Street #11F,Condo,1 bed,1 bath,695 ft??
17,17,listing_1378789,"$3,375,000",231 West 26th Street #2,Condo,3 beds,2.5 baths,"1,867 ft??"
18,18,listing_1378787,"$800,000",250 West 15th Street #5I,Co-op,1 bed,1 bath,700 ft??
19,19,listing_1378786,"$2,995,000",234 East 23rd Street #14C,Condo,3 beds,2.5 baths,"1,597 ft??"
20,20,listing_1378784,"$1,950,000",895 Park Avenue #1A,Co-op,NaN,2 baths,"1,400 ft??"
21,21,listing_1378782,"$1,500,000",895 Park Avenue #1B,Co-op,3 beds,1 bath,NaN
22,22,listing_1378781,"$1,499,000",165 West 66th Street #7A,Co-op,2 beds,2 baths,NaN
23,23,listing_1378778,"$1,275,000",35 Park Avenue #18B,Co-op,2 beds,2 baths,"1,367 ft??"
24,24,listing_1378777,"$675,000",310 East 46th Street #14D,Condop,1 bed,1 bath,NaN
25,25,listing_1378773,"$648,000",350 West 50th Street #2PP,Condo,NaN,1 bath,407 ft??
26,26,listing_1375194_featured,"$1,895,000",252 South Street #9H,Condo,2 beds,2 baths,"1,156 ft??"
27,27,listing_1377705_featured,"$1,050,000",43 West 61st Street #17J,Condo,1 bed,1 bath,820 ft??
28,28,listing_1378772,"$1,199,000",529 W 42nd Street #9RR,Condo,2 beds,1 bath,NaN
29,29,listing_1378764,"$3,955,000",10 Riverside Boulevard #28D,Condo,2 beds,2.5 baths,"1,689 ft??"
...,...,...,...,...,...,...,...,...
919,9,listing_1367799,"$5,495,000",2211 Broadway #4G,Condo,3 beds,2.5 baths,"1,890 ft??"
920,10,listing_1367786,"$860,000",330 West 17th Street #1W,Co-op,1 bed,1 bath,NaN
921,11,listing_1367785,"$3,900,000",205 West 76th Street #7F,Condo,3 beds,3 baths,"1,570 ft??"
922,12,listing_1367775,"$1,375,000",929 Park Avenue #10B,Co-op,1 bed,1 bath,"1,000 ft??"
923,13,listing_1376684_featured,"$3,800,000",49 Chambers Street #7D,Condo,2 beds,2.5 baths,"2,256 ft??"
924,14,listing_1370394_featured,"$1,250,000",55 East 65th Street #4A,Co-op,2 beds,1 bath,NaN
925,15,listing_1367774,"$2,800,000",250 Mercer Street #B1506,Co-op,2 beds,2 baths,NaN
926,16,listing_1367769,"$1,900,000",100 West 18th Street #5B,Condo,1 bed,1.5 baths,"1,058 ft??"
927,17,listing_1367765,"$460,000",283 East 4th Street #1F,Co-op,1 bed,1 bath,NaN
928,18,listing_1367761,"$835,000",120 West 58th Street #7C,Condo,1 bed,1 bath,700 ft??
929,19,listing_1367760,"$999,999",1270 Fifth Avenue #9L,Co-op,2 beds,1.5 baths,"1,000 ft??"
930,20,listing_1367759,"$799,000",201 East 25th Street #10F,Co-op,1 bed,1 bath,NaN
931,21,listing_1367753,"$685,000",343 West 12th Street #1A,Co-op,NaN,1 bath,NaN
932,22,listing_1367740,"$6,900,000",33 West 89th Street 33-WEST-89TH,Townhouse,10 beds,10 baths,NaN
933,23,listing_1367738,"$695,000",100 West 93rd Street #28D,Condo,NaN,1 bath,493 ft??
934,24,listing_1367735,"$350,000",352 West 48th Street #1FW,Co-op,1 bed,1 bath,NaN
935,25,listing_1367725,"$369,000",333 East 75th Street #5H,Co-op,NaN,1 bath,NaN
936,26,listing_1346525_featured,"$4,395,000",975 Park Avenue #6B,Co-op,3 beds,3.5 baths,NaN
937,27,listing_1362093_featured,"$2,250,000",13 East 16th Street #8R,Condo,2 beds,2 baths,"1,318 ft??"
938,28,listing_1367716,"$1,100,000",150 West 55th Street #7C,Co-op,2 beds,1.5 baths,"1,200 ft??"
939,29,listing_1367712,"$2,995,000",29 West 19th Street #4,Condo,3 beds,3 baths,"1,816 ft??"
940,30,listing_1367710,"$450,000",150 Central Park South #1207,Co-op,NaN,1 bath,NaN
941,31,listing_1367705,"$5,585,000",180 East 88th Street #11B,Condo,3 beds,3.5 baths,"2,082 ft??"
942,32,listing_1367703,"$425,000",102 West 80th Street #55,Co-op,NaN,1 bath,NaN
943,33,listing_1367696,"$5,150,000",225 Fifth Avenue #9M,Condo,2 beds,2.5 baths,"1,591 ft??"
944,34,listing_1367695,"$625,000",393 West 49th Street #4OO,Condo,NaN,1 bath,402 ft??
945,35,listing_1367686,"$1,125,000",255 Hudson Street #3F,Condo,1 bed,1 bath,776 ft??
946,36,listing_1367679,"$4,250,000",125 East 74th Street #8/9A,Co-op,4 beds,3 baths,"2,300 ft??"
947,37,listing_1367676,"$689,000",350 East 30th Street #5C,Condo,1 bed,1 bath,631 ft??
948,38,listing_1367673,"$599,000",255 West End Avenue #8C,Co-op,1 bed,1 bath,NaN

In [33]:

for i in range(len(df['price'])):
    df.loc[i,'price']=int(str(df.loc[i,'price']).strip('$').replace(',',''))

In [34]:

del df['id']

In [35]:
del df['bed']

In [36]:
del df['bath']

In [37]:
del df['Unnamed: 0']

In [38]:

str(df.loc[6,'area'])

'nan'

In [39]:
type(df.loc[8,'area'])

str

In [40]:

for i in range(len(df['area'])):
    if str(df.loc[i,'area'])=='nan':
        df.loc[i,'area']=None
    else:
        df.loc[i,'area']=int(str(df.loc[i,'area']).strip('ft??').replace(',',''))

In [41]:

df.dropna(axis=0, how='any', inplace=True)

In [42]:
pd.DataFrame(df).to_csv('dataset.csv')

In [43]:

df2=pd.read_csv('dataset.csv',encoding='UTF-8')
del df2['Unnamed: 0']
df2

        price                       address   type  area
0     2699000       145 E 15th Street #16ST  Co-op  1700
1     1895000          30 Beekman Place #7C  Co-op  2400
2     4160000   30 Riverside Boulevard #33C  Condo  1569
3     3400000     635 West 59th Street #29D  Condo  1438
4     1925000   30 Riverside Boulevard #22G  Condo   852
5     3650000   30 Riverside Boulevard #26G  Condo  1533
6      339000        581 Academy Street #1C  Condo   500
7     1248000         252 South Street #12K  Condo   695
8     1399000         252 South Street #35F  Condo   722
9     1425000         252 South Street #10B  Condo   696
10    1711000         252 South Street #64L  Condo   709
11    1576000         252 South Street #59H  Condo   679
12    7350000     275 West 10th Street #4/B  Condo  2891
13    1640000         252 South Street #40N  Condo   723
14    1209000         252 South Street #11F  Condo   695
15    3375000       231 West 26th Street #2  Condo  1867
16     800000      250 West 15th Street #5I  Co-op   700
17    2995000     234 East 23rd Street #14C  Condo  1597
18    1950000           895 Park Avenue #1A  Co-op  1400
19    1275000           35 Park Avenue #18B  Co-op  1367
20     648000     350 West 50th Street #2PP  Condo   407
21    1895000          252 South Street #9H  Condo  1156
22    1050000      43 West 61st Street #17J  Condo   820
23    3955000   10 Riverside Boulevard #28D  Condo  1689
24    6405000   10 Riverside Boulevard #27B  Condo  2398
25    1675990       130 William Street #42C  Condo   802
26    3400000  200 Riverside Boulevard #6AB  Condo  2370
27     289000      62 Park Terrace West #15  Co-op   600
28    1949000    301 East 52nd Street #2/1A  Co-op  1816
29    1045000         1325 Fifth Avenue #5H  Condo   919
..        ...                           ...    ...   ...
599    619000              350 West 50 #4ZL  Condo   422
600    635000     425 Central Park West #5E  Condo   550
601   1125000     236 East 47th Street #11C  Condo   912
602   1209375          171 Henry Street #4D  Condo  1075
603    975025          171 Henry Street #2C  Condo   907
604    793500          171 Henry Street #4A  Condo   690
605    855000          171 Henry Street #2B  Condo   684
606   1645000         685 First Avenue #31C  Condo   760
607    524999       5 Tudor City Place #704  Co-op   560
608  20000000     160 Leroy Street NORTH12B  Condo  4557
609   5995000        580 West End Avenue #4  Co-op  3000
610    765000        2134 Second Avenue #6B  Condo  1027
611   1899000     175 West 12th Street #19B  Condo   989
612   5495000             2211 Broadway #4G  Condo  1890
613   3900000      205 West 76th Street #7F  Condo  1570
614   1375000          929 Park Avenue #10B  Co-op  1000
615   3800000        49 Chambers Street #7D  Condo  2256
616   1900000      100 West 18th Street #5B  Condo  1058
617    835000      120 West 58th Street #7C  Condo   700
618    999999         1270 Fifth Avenue #9L  Co-op  1000
619    695000     100 West 93rd Street #28D  Condo   493
620   2250000       13 East 16th Street #8R  Condo  1318
621   1100000      150 West 55th Street #7C  Co-op  1200
622   2995000        29 West 19th Street #4  Condo  1816
623   5585000     180 East 88th Street #11B  Condo  2082
624   5150000          225 Fifth Avenue #9M  Condo  1591
625    625000     393 West 49th Street #4OO  Condo   402
626   1125000         255 Hudson Street #3F  Condo   776
627   4250000    125 East 74th Street #8/9A  Co-op  2300
628    689000      350 East 30th Street #5C  Condo   631

[629 rows x 4 columns]

In [44]:

for i in range(len(df2['price'])):
    df2.loc[i,'price']=df2.loc[i,'price']/df2.loc[i,'area']

In [45]:

index=0
high_price=0
for i in range(len(df2['price'])):
    if df2.loc[i,'price']>high_price:
        high_price=df2.loc[i,'price']
        index=i

In [46]:
print(index,high_price)

84 9615.384615384615

In [47]:

df2.loc[index,'address']

'100 East 53rd Street #PH'

In [48]:

for i in range(len(df2['price'])):
    if df2.loc[i,'price']> high_price:
        high_price=df2.loc[i,'price']
        index=i
    if df2.loc[i,'type']=='Co-op':
        df2.loc[i,'type']=1
    if df2.loc[i,'type']=='Condo':
        df2.loc[i,'type']=2
    if df2.loc[i,'type']=='Condop':
        df2.loc[i,'type']=3
    if df2.loc[i,'type']=='Multi-family':
        df2.loc[i,'type']=4
    if df2.loc[i,'type']=='Building':
        df2.loc[i,'type']=5
    if df2.loc[i,'type']=='Townhouse':
        df2.loc[i,'type']=6

patternE=r'^(\d+)\s(E)\w+\s(\d+)'
patternW=r'^(\d+)\s(W)\w+\s(\d+)'

for i in range(len(df2['price'])):
    match=re.search(patternW,str(df2.loc[i,'address']))
    if match!=None:
        df2.loc[i,'address']=int(((int(match.groups()[0])+100)*40)**2+((int(match.groups()[2])-53)*80)**2)
        
for i in range(len(df2['price'])):
    match=re.search(patternE,str(df2.loc[i,'address']))
    if match!=None:
        df2.loc[i,'address']=int(((int(match.groups()[0])-100)*40)**2+((int(match.groups()[2])-53)*80)**2)

In [49]:

pd.DataFrame(df2).to_csv('processed_data.csv')